<ion-header>
	<ion-toolbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Developer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label stacked>What's your name?</ion-label>
		<ion-input [(ngModel)]="name" placeholder="Developer Name"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label stacked>What's your special skill?</ion-label>
		<ion-input [(ngModel)]="skill" placeholder="Special Skill"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label stacked>How long have you been working?</ion-label>
		<ion-input [(ngModel)]="yearsOfExperience" placeholder="Years of experience"></ion-input>
	</ion-item>
	<ion-button expand="full" (click)="addData()">Add</ion-button>
</ion-content>